html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}

hr{
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: black;
}
.custom{
  width: 8em;
}
/* Navbar */
.navbar-brand{
    text-decoration: none;
    margin-left: 3em;
    font-size: 1.5em;
    font-weight: bold;
    color:black;
    width: 6em;
}
.navbar{
    margin-top: 1em;
    margin-bottom: 1em;
}
.nav-item{
    display: inline;

}
.nav-link{
    text-decoration: none;
}

.nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav .search-container button:hover {
  background: #ccc;
}

.nav .navbarCustom{
  border-left:1px solid #BDBDBD;
  width: 8em;
  text-align: center;
}

.nav .navbarCustom a {
  color: #424242;
}

.nav .navbarCustom a:hover{
  color:white;
  background-color:#9E9E9E;
  border-radius: 2px;
}


/* Footer */
.otherLinks a{
  color:#616161;
}

.otherLinks a:hover{
  text-decoration: none;
  color:#000000;
}

.otherLinks a h4{
  font-size:1.2em;
}

.sub-title {
  margin:20px 0;
}

.PlayingNowSlider{
  height: 50%;
}

/* show 3 items */
@media (min-width: 768px) {
  /* left or forward direction */
  /* farthest right hidden item must be abso position for animations */
  /* right or prev direction */
  .PlayingNowSlider .carousel-inner .active, .PlayingNowSlider .carousel-inner .active + .carousel-item, .PlayingNowSlider .carousel-inner .active + .carousel-item + .carousel-item, .PlayingNowSlider .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    height: 50%;
    display: block;
  }
  .PlayingNowSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .PlayingNowSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item, .PlayingNowSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .PlayingNowSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }
  .PlayingNowSlider .carousel-inner .carousel-item-next, .PlayingNowSlider .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .PlayingNowSlider .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .PlayingNowSlider .active.carousel-item-left + .carousel-item-next.carousel-item-left, .PlayingNowSlider .carousel-item-next.carousel-item-left + .carousel-item, .PlayingNowSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .PlayingNowSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .PlayingNowSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .PlayingNowSlider .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .PlayingNowSlider .active.carousel-item-right + .carousel-item-prev.carousel-item-right, .PlayingNowSlider .carousel-item-prev.carousel-item-right + .carousel-item, .PlayingNowSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .PlayingNowSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .PlayingNowSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
  .PlayingNowSlider img {
    height: 50%;
    width: 100%;
  }
}

.comingSoonSlider{
  height: 50%;
}

/* show 3 items */
@media (min-width: 768px) {
  /* left or forward direction */
  /* farthest right hidden item must be abso position for animations */
  /* right or prev direction */
  .ComingSoonSlider .carousel-inner .active, .ComingSoonSlider .carousel-inner .active + .carousel-item, .ComingSoonSlider .carousel-inner .active + .carousel-item + .carousel-item, .ComingSoonSlider .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    height: 50%;
    display: block;
  }
  .ComingSoonSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .ComingSoonSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item, .ComingSoonSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .ComingSoonSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }
  .ComingSoonSlider .carousel-inner .carousel-item-next, .ComingSoonSlider .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .ComingSoonSlider .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .ComingSoonSlider .active.carousel-item-left + .carousel-item-next.carousel-item-left, .ComingSoonSlider .carousel-item-next.carousel-item-left + .carousel-item, .ComingSoonSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .ComingSoonSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .ComingSoonSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .ComingSoonSlider .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .ComingSoonSlider .active.carousel-item-right + .carousel-item-prev.carousel-item-right, .ComingSoonSlider .carousel-item-prev.carousel-item-right + .carousel-item, .ComingSoonSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .ComingSoonSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .ComingSoonSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
  .ComingSoonSlider img {
    height: 50%;
    width: 100%;
  }
}


.card{
  margin:30px 0;
}

.title-page{
  text-align: center;
  margin-top:40px;
}

.copyright{
  font-size:0.7em;
  text-align:justify;
}

.aboutUs{
  text-align: center;
}

.aboutUs h2{
  font-size:2.7em;
}

.aboutUs p{
  text-align: justify;
  text-justify: inter-word;
  font-size: 0.9em;
}

.contactUs{
  text-align: center;
  margin-top:20px;
}

.contactUs h2{
  font-size:2.7em;
}

.contactUs .contactIcon .circleThis{
  font-size:4em;
  background-color:#9E9E9E;
  color:white;
  border-radius:100px;
  width:55%;
  padding:10%;
  margin:auto;
  margin-bottom:10px;
}

.searchPage input{
  width:80%;
  height:6%;
  border-radius:20px;
  font-size:2em;
  padding-left:10px;
  margin-top: 2%;
}

.searchPage .searchButton{
  font-size:2em;
}

.QnApanel{
  border: 1px solid #00B8D4;
  border-top-right-radius: 20px;
  padding:20px;
  margin:20px 0;
}

.QnApanel h4 a{
  color: #00BFA5;
}

.QnApanel h4 a:hover{
  text-decoration: none;
}

.QnApanel h4 i{
  float:right;
  margin-right:20px;
  font-size: 1.5em;
}

.bs-wizard {margin-top: 40px;}

.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.progressBarParent{
  margin-left:14%;
}

.progressBarParent .progressBar{
  width:28%;
}

.shoppingCartTable{
  margin:10px auto;
  width:80%;
}

.shoppingCartTable th{
  height:50px;
  text-align:center;
  background-color:#616161;
  color:#222222;
  border: 1px solid #424242;
}

.shoppingCartTable .cartContent{
  width:10%;
  height:50px;
  text-align: center;
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.shoppingCartTable .cartAction{
  width:5%;
  height:50px;
  text-align: center;
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.totalCartTable{
    margin:10px auto;
    width:80%;
}

.totalCartTable .totalContent{
  width:10%;
  height:50px;
  text-align: center;
}

.totalCartTable .TotalContent{
  width:10%;
  height:50px;
  text-align: center;
  font-weight: bold;
}

.cartDelete{
  width:2%;
  height:50px;
  text-align: center;
  border-left: 1px solid #BDBDBD;
}

.cartDelete a{
  color:black;
}

.cartDelete a:hover{
  color: #37474F;
  text-decoration: none;
}

.escapeCart{
  text-align:center;
  margin-top:30px;
}

.movieDescription h1{
  color:black;
  font-weight:bold;
}

.cast{
  margin:30px 0;
}

.cast .card{
  float:left;
  margin: 0 1%;
  height:15%;
  width:22%;
}

.cast .card img{
  width:100%;
}

.cast .card .card-body{
  margin-top:0.8rem;
  padding: 0.2em;
}

.cast .card .card-text{
  text-align: center;
  font-size:0.6em;
}

.synopsis{
  margin-top:50%;
}

.synopsisDescription{
  text-align:justify;
}

.trailer{
  height:30em;
}

.selectSeat{
  text-align: center;
}

/* Reference from https://codepen.io/ArvindSPanicker/pen/QQVZmw */
.theatre {
  margin: 20px auto;
  margin-left:28%;
  max-width: 300px;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.seat {
  display: flex;
  flex: 0 0 14.28571%;
  padding: 5px;
  position: relative;
  width:30px;
}
.seat:nth-child(2) {
  margin-right: 14.28571428571429%;
}.seat:nth-child(8) {
  margin-right: 14.28571428571429%;
}
.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.seat input[type=checkbox]:checked + label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type=checkbox]:disabled + label {
  background: #f42536;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type=checkbox]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type=checkbox]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #ddd;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, .4);
  border-radius: 3px;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5c6aff;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

/*End of Reference from https://codepen.io/ArvindSPanicker/pen/QQVZmw */

.screenTitle{
  text-align: center;
  margin: 0 auto;
  margin-top:-20px;
  background-color: grey;
  width:50%;
  color:black;
}

.exitButtonsSeat{
  margin: 30px auto;
  text-align: center;
}

.exitButtonsSeat button{
  width:9%;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-step p {
    margin-top: 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.paymentConfirmation{
  width:40%;
  text-align: center;
}

.paymentConfirmation label{
  text-align: left;
}

.bookingConfirmation h1{
  color: black;
}

.bookingConfirmation h4{
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
  padding:10px;
  width: 15%;
  border-radius: 20px;
  background-color:#EEEEEE;
}
